Source: dtbocfg
Section: kmod
Priority: optional
Maintainer: ikwzm <ichiro_k@ca2.so-net.ne.jp>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.6
Homepage: <https://github.com/ikwzm/dtbocfg>

Package: dtbocfg
Architecture: any
Provides: dtbocfg-kernel-module
Depends: ${shlibs:Depends}, ${misc:Depends}, nvidia-l4t-core (>> 32.4-0), nvidia-l4t-core (<< 32.5-0)
Description: Device Tree Blob Overlay Configuration File System.


